<%- model_class = @indicator.class -%>
<div class="page-header">
    <h1>Edit <%= @indicator.friendly_name.titleize %></h1>
    <p>Make changes to an indicator that was previously entered</p>
</div>
<%= render :partial => @indicator.class.to_s.downcase+'_edit' %>
