<h1>New indicator</h1>
<p>Use this form to enter one or more indicators from the same case that will have the same description.  For example, a list of malware hashes or ip addresses.</p>
<%= render 'form' %>

<%= link_to 'Back', indicators_path %>
