<div class="page-header">
    <h1>New <%= @indicator.friendly_name.titleize %></h1>
    <p>Here you can enter details about a single <%= @indicator.friendly_name %> or multiple <%= @indicator.friendly_name.pluralize %> that are related to the same case.  Separate multiple indicators with a new line.</p>
</div>

<%= render :partial => @indicator.class.to_s.downcase %>
