// Place all the styles related to the Indicators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea.new_indicator_text_area { width: 350px; }

div.rss-icon { float: right; }

th.indicator-content, td.indicator-content { max-width: 100px;
//   word-wrap:break-word; }
   overflow:hidden; }
th.indicator-case, td.indicator-case { }
th.indicator-description, td.indicator-description { max-width: 200px; }
th.indicator-analyst, td.indicator-analyst {}
th.indicator-controls, td.indicator-controls { max-width: 10px; } 
