// Place all the styles related to the Indicators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea.new_indicator_text_area { width: 350px; }

div.rss-icon { float: right; }

th.indicator-content, td.indicator-content { max-width: 150px;
//   word-wrap:break-word; }
   overflow:hidden; }
th.indicator-case, td.indicator-case { max-width: 100px; }
th.indicator-description, td.indicator-description { 
     word-wrap:break-word;
     overflow:hidden; }
th.indicator-analyst, td.indicator-analyst { max-width: 100px; }
th.indicator-controls, td.indicator-controls { max-width: 25px; } 

div.accordion-group {
    margin-bottom: 10px;
}

div.accordion-heading {
    background-color: Gray;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.accordion-toggle {
    color: White;
}
